/* agrego variables al CSS para aplicar globalmente las fuentes y tamaños */
:root {
    --primary-color: #a491d2;
    --secondary-color: #f0f0f0;
    --border-color: #ccc;
    --font-color: #3d3d3d;
    --secondary-font-color: #555;
    --font-family: 'Roboto', sans-serif;
    --avatar-size: 43px;
    --avatar-small-size: 42px;
    --font-size-normal: 16px;
    --font-size-small: 12px;
    --padding: 20px;
    --padding-small: 10px;
}

/* reset a los estilos predeterminados del navegador */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    height: 100vh;
    margin: 0;
}

/* Layout flex padre */
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: var(--secondary-color);
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
}

.right-column {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
}

.hands {
    max-width: 100%;
    height: auto;
}

.perfil-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 1px solid var(--border-color);
}

.info-perfil {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    margin-right: 10px;
}
/*aquí mejore la semantica juntando las clases para reducir repeticiones de codigos */
.info-perfil h1, .contact-info h1 {
    font-weight: 400;
    font-size: var(--font-size-normal);
    color: var(--font-color);
}

.info-perfil p, .contact-info p {
    font-size: var(--font-size-small);
    margin: 0;
    color: var(--secondary-font-color);
}

.perfil-icons i {
    font-size: 1.2em;
    margin-left: 10px;
    cursor: pointer;
}

.chat-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 38px;
    border-bottom: 1px solid var(--border-color);
}

.chat-boton {
    background-color: var(--primary-color);
    font-weight: 400;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
    width: 220px;
    height: 70px;
    padding: 15px 30px;
}

.chat-boton:hover {
    background-color: #cdc3cd;
}

.left-column ul {
    list-style-type: none;
}

.left-column li {
    display: flex;
    align-items: center;
    padding: 18px 20px;
    border-bottom: 1px solid var(--border-color);
}

.left-column li img.avatares {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 17px;
}

.contact-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.content h1 {
    margin-bottom: 10px;
    font-size: 2em;
}

.content p {
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5;
}
/*Media Queries para la adaptabilidad*/
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .left-column,
    .right-column {
        width: 100%;
        height: auto;
        border-right: none;
    }
    .right-column {
        padding: var(--padding-small);
    }
    .chat-boton {
        padding: 15px 30px;
    }
    .left-column li img.avatares {
        width: 45px;
        height: 45px;
    }
    .content h1 {
        font-size: 1.5em;
    }
    .content p {
        font-size: 0.875em;
    }
}

@media (max-width: 480px) {
    .perfil-header {
        flex-direction: row;
        align-items: flex-start;
    }
    .perfil-icons {
        margin-top: 10px;
    }
    .content h1 {
        font-size: 1.2em;
    }
    .content p {
        font-size: 0.8em;
    }
    .chat-boton {
        padding: 10px 20px;
        font-size: 0.875em;
    }
    .left-column li img.avatares,
    .avatar {
        width: var(--avatar-small-size);
        height: var(--avatar-small-size);
    }
}
